* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

header {
  background-color: rgb(20, 13, 17);
  color: white;
  padding: 2px;
  border: 5px solid rgb(150, 145, 148);
  margin: 0px;
  text-align: center;
}

nav { 
  background-color: rgb(150, 145, 148);;
  padding-left: 5px;
  padding-bottom: 5px;
}

img {
  max-width: 50%;
  float: right;
  padding-top: 1em;
  
}

.dropdown-content b {
color: white;
}

/* Styling for dropdown, https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.7em;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:green;
}

.alternativeButton, .nextButton, select {
  height: 3rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 0 2rem;
}